<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBa76J02Sb40IbQ3uD_wPJI1DpBBky-rpg</string>
	<key>GCM_SENDER_ID</key>
	<string>70735585333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.genshinApp</string>
	<key>PROJECT_ID</key>
	<string>genshin-data-ga4</string>
	<key>STORAGE_BUCKET</key>
	<string>genshin-data-ga4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70735585333:ios:32a817a68821f74005117c</string>
</dict>
</plist>